@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html {
    background: rgb(30,215,96);
    background: linear-gradient(180deg, rgba(30,215,96,1) 0%, rgba(125,249,255,1) 53%, rgba(143,0,255,1) 100%);
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.watch {
    background: #e2e2e2;
    width: 230px;
    height: 269px;
    border-radius: 43px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    position: relative;
}

.watch::before {
    content: '';
    display: block;
    width: 16px;
    height: 41px;
    border-radius: 45% 7px 7px 45%;
    position: absolute;
    right: -13px;
    top: 62px;
    background: #e2e2e2;
    border: 1px solid #bcbcbc;
}

.watch::after {
    content: '';
    display: block;
    width: 5px;
    height: 67px;
    border-radius: 8px 3px 3px 8px;
    position: absolute;
    right: -5px;
    top: 140px;
    background: #e2e2e2;
    border: 1px solid #bcbcbc;
}

.screen {
    background: #030303;
    height: 100%;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 28px;
    overflow: hidden;
}

.time {
    color: #fff;
    font-family: 'Bangers', cursive;
}

.time .hour {
    font-size: 90px;
}

.time .min {
    font-size: 80px;
}

.time .sec {
    font-size: 50px;
}

.time .sec::before {
    content: ' : ';
}